# ==========================
# VISUAL STUDIO / C++ BUILD
# ==========================
.vs/
*.vc.db*
*.VC.opendb
*.suo
*.user
*.pdb
*.idb
*.obj
*.tlog
*.log
*.lastbuildstate
*.ipch
*.pch
*.ilk
*.exp
*.lib

x64/
x86/
Debug/
Release/
[Bb]uild/

# ==========================
# ARCHIVOS TEMPORALES
# ==========================
*.tmp
*.temp
*.bak
*.old
*.cache
*.ncb

# ==========================
# GAME MAKER
# ==========================
*.yyz
*.yymps
*.yyc
*.yyp.local
*.win
*.zip
*.bin
*.dnd
*.ide
*.yydebug
*.yyf
*.yyp.log

# ==========================
# EXCEPCIONES (mantener la DLL del juego)
# ==========================
!tfg-audio/gm/gm_project/datafiles/dll/
!tfg-audio/gm/gm_project/datafiles/dll/*.dll

# ==========================
# SISTEMA
# ==========================
*.DS_Store
Thumbs.db
desktop.ini
